/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS Variables */
:root {

    --primary-font: "Open-sans", sans-serif;
    --secondary-font: "Montserrat", Arial;
    --primary-clr: #D5B139;     /* Metalic Gold */
    --secondary-clr: #040273;   /* Dark Emerald Green */
    --highlight-clr: #e9ac75;   /* Light Brown */
    --highlight-clr-light: #f6dfca; /* lighter Brown */
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body{
    
    color: #A9A9A9;
    background-image: url('/assets/images/background.jpg');
    background-repeat: repeat;
    background-color: #ffffff;
    background-size: auto;
    background-attachment: fixed;
}

header * {
    /* --bs-navbar-color: none */
    background-color: var(--primary-clr);
    height: 3rem;
    flex-flow: row-reverse nowrap;
}

#mypage>section>div{
    background-color: white;
    height: 100vh;
    width:75%;
    margin-left: auto; 
    margin-right: auto;
}

.stretch-navbar{
    flex-grow: 0;
    width: 100%;
}

.set-bkgrnd{
    background-color: var(--primary-clr);
}