/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS Variables */
:root {

    --primary-font: "Open-sans", sans-serif;
    --secondary-font: "Montserrat", Arial;
    --primary-clr: #D5B139;     /* Metalic Gold */
    --secondary-clr: #040273;   /* DArk Blua */
    --highlight-clr: #e9ac75;   /* Light Brown */
    --highlight-clr-light: #f6dfca; /* lighter Brown */
    
}


/* General rules for the body to set the repeating background image  */
body{   
    color: #3a3a3a;
    background-image: url('../images/background.jpg');
    background-repeat: repeat;
    background-color: #ffffff;
    background-size: auto;
    background-attachment: fixed;
}

header {
    /* --bs-navbar-color: none */
    background-color: var(--primary-clr);
    height: 3rem;
    text-align: center; 
}

/* Used to set the highlight button styles */
.button-highlight {
    color: var(--secondary-clr);
    background-color: #dbdbfe;
    border-color: var(--secondary-clr);
}

.button-highlight:hover {
    color: var(--secondary-clr);
    background-color: var(--highlight-clr-light);
    border-color: var(--secondary-clr);
}

/* Used to set the font size and font in the header  */
.set-font{
    font: 30px arial;
}

/* to set the color and font for the settings */
h1, h2, h3, h4{
    color: var(--secondary-clr);
    font: var(--secondary-font);
}

/* Set dark blue color for text  */
.set-text-color{
    color:var(--secondary-clr);
}

/* To override the styling that comes with the .active bootstrap class */
body header div .active {
    color: var(--secondary-clr) !important;
    background-color: #B59410 !important;
    border-radius: 10%;
    text-decoration: none !important;
}

/* To remove the underline from the header button  */
body header div a{
    text-decoration: none !important;
}

main {
    background-color: rgba(256, 256, 256, 0.8);
}

/* Hide an element  */
.hiddden{
    display: none;
}

/* setting width and height of main  */

.main-dimensions{
    height: 100%;
    width:80%;
    margin-left: auto; 
    margin-right: auto;
}

.fix-dimensions{
    height: 200px;
    width:200px;
}

.justify-text{
    text-align:justify;
}

/* Used to set some space on top of the page to drop down the header */
.top-space{
    margin-top: 40px;
}
/* Used to set some space on top of the page to drop down the header div  */
.top-space-header{
    margin-top: 96px;
}

/* For backgrounds */
.set-bkgrnd{
    background-color: var(--primary-clr);
}

/* to set the color  */
.set-d-color *{
    color: var(--secondary-clr);
}

/* To ensure the footer stays down */
footer {
    align-content: flex-end;
    height: 4rem;
}

/* Used to remove the list styles from the social media icons */
#social-media{
    
    list-style-type: none;
    list-style: none;
}

/* Used to style the social media icons  */
#social-media i{
    color: var(--secondary-clr);
    background-color: transparent;
}
  
/* Used to present the social media icons list element horizontaly */
#social-media li {
    display: inline-block;
    margin-right: 10px; /* add spacing between items */
    padding-top: 5px;
    font-size: 1.2rem;
    flex-flow: row-reverse wrap;
   
  }

/* To change color when hovering over the social media icons  */
#social-media i:hover{
    color: #dbdbfe;
}

/* To size the image in the page and place it properly */
#mypage img {
    height: 80%;
    width: 360px;
    margin-top: 2rem;
    margin-left: 2rem;
    justify-content: center;
    object-fit: cover;
    box-shadow: 5px 5px 5px #D5B139;
}

/* To add margin to text  */
.text-top-margin{
    margin-top: 2rem;
}

.text-left-margin{
    margin-left: 2rem;
}

.text-btm-margin{
    margin-bottom: 4rem;
}

.text-sm-btm-margin{
    margin-bottom: 10px;
}
/* ------------------------- */


/* Media queries */

/* Medium devices (tablets, 320px and up) */
@media screen and (min-width: 320px) {
    /* Added to enlarge the header button for mobile screens   */
    header button{
        width: 100%;
    }

    /* Used to remove the left and right margins for mobile screens  */
    .main-dimensions{
        height: 100%;
        width:100%;
        justify-content:center;
    }

    img{
        width: 15vh;
        height: 15vh;
    }
}




/* Medium devices (tablets, 576px and up) */
@media screen and (min-width: 576px) {

    /* Added to enlarge the header button for mobile screens   */
    header button{
        width: 100%;
    }

    /* Used to set margin left and right for screens larger than the mobile  */
    .main-dimensions{
        height: 100%;
        width: 100%;
        justify-content:center;
    }
    /* Used to control image size  */
    img{
        width: 15vh;
        height: 15vh; 
    }

}



/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

    /* Used to set margin left and right for screens larger than the mobile  */
    .main-dimensions{
        height: 100%;
        width: 90vh;
        margin-left: auto; 
        margin-right: auto;
    }

    /* Used to control image size  */
    #mypage > div > div img *{
        width: 15vh;
        height: 15vh;
      
    }
}


/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {

    /* Used to set margin left and right for screens larger than the mobile  */
    .main-dimensions{
        height: 100%;
        width:80%;
        margin-left: auto; 
        margin-right: auto;
    }

    /* Used to control image size  */
    #mypage > div > div > img *{
        width: 40%;
        height: 40%;
    }
}


/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
 
    /* Used to set margin left and right for screens larger than the mobile  */
    .main-dimensions{
        height: 100%;
        width:80%;
        margin-left: auto; 
        margin-right: auto;
    }

}


/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {

    /* Used to set margin left and right for screens larger than the mobile  */
    .main-dimensions{
        height: 100%;
        width:80%;
        margin-left: auto; 
        margin-right: auto;
    }

}