/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS Variables */
:root {

    --primary-font: "Open-sans", sans-serif;
    --secondary-font: "Montserrat", Arial;
    --primary-clr: #D5B139;     /* Metalic Gold */
    --secondary-clr: #040273;   /* Dark Emerald Green */
    --highlight-clr: #e9ac75;   /* Light Brown */
    --highlight-clr-light: #f6dfca; /* lighter Brown */
    
}

* {
    padding: 0;
    margin: 0;
}

body{
    
    color: #A9A9A9;
    background-image: url('/assets/images/background.jpg');
    background-repeat: repeat;
    background-color: #ffffff;
    background-size: auto;
    background-attachment: fixed;
}

header {
    /* --bs-navbar-color: none */
    background-color: var(--primary-clr);
    height: 3rem;
    text-align: center; 
}

.button-highlight {
    color: white;
    background-color: #dbdbfe;
    border-color: var(--secondary-clr);
}

.set-font{
    font: 30px arial;
}

h1, h2, h3{
    color: var(--secondary-clr);
    font: var(--secondary-font) ;
    
}

#mypage > section > div {
    background-color: rgba(256, 256, 256, 0.9);
    height: 100vh;
    width:75%;
    margin-left: auto; 
    margin-right: auto;
}

.top-space{
    margin-top: 40px;
}

.top-space-header{
    margin-top: 96px;
}


.set-bkgrnd{
    background-color: var(--primary-clr);
}

.set-color *{
    color: var(--secondary-clr);
}

footer {
    align-content: flex-end;
}

#social-media{
    /* flex-flow: row-reverse wrap; */
    /*  */
    /* flex-grow: 0; */

    list-style-type: none;
    list-style: none;
}

#social-media i{
    color: var(--secondary-clr);
    background-color: transparent;
}
  
 #social-media li {
    display: inline-block;
    margin-right: 10px; /* add spacing between items */
    padding-top: 5px;
    padding-bottom: 10px;
  
   
  }

#social-media i:hover{
    color: #dbdbfe;
}


/* Media queries */

/* Medium devices (tablets, 320px and up) */
@media screen and (min-width: 320px) {

    header button{
        width: 100%;
    }

    #mypage section div {
        width: 100%;
    }
    
}



/* Medium devices (tablets, 576px and up) */
@media screen and (min-width: 576px) {

header button{
    width: 100%;
}

    #mypage > section > div {
        background-color: rgba(256, 256, 256, 0.9);
        height: 100vh;
        width:75%;
        margin-left: auto; 
        margin-right: auto;
    }

}





/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

    #mypage > section > div {
        background-color: rgba(256, 256, 256, 0.9);
        height: 100vh;
        width:75%;
        margin-left: auto; 
        margin-right: auto;
    }

}


/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {

    #mypage > section > div {
        background-color: rgba(256, 256, 256, 0.9);
        height: 100vh;
        width:75%;
        margin-left: auto; 
        margin-right: auto;
    }

}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    #mypage > section > div {
        background-color: rgba(256, 256, 256, 0.9);
        height: 100vh;
        width:75%;
        margin-left: auto; 
        margin-right: auto;
    }

}


/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {

    #mypage > section > div {
        background-color: rgba(256, 256, 256, 0.9);
        height: 100vh;
        width:75%;
        margin-left: auto; 
        margin-right: auto;
    }

}